/* VARIABLES */
:root {
  --rd_black: rgb(24, 24, 24);
  --rd_white: rgb(220, 220, 220);
  --rd_lightblack: rgb(48, 48, 48);
}

/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* TYPOGRAPHY */
body {
  background-color: var(--rd_black);
  color: var(--rd_white);
}

h1, h1 a, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
}

p, a, label {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-size: .9rem;
}

h1 a {
  font-size: 1.6rem;
}

nav ul li a {
  font-size: 1.3rem;
}

a {
  color: var(--rd_white);
  text-decoration: none;
}

header nav ul li a {
  font-family: 'Noto Serif', serif;
}

.search-input, .search-submit {
  font-family: 'Noto Sans', sans-serif;
}

/* GENERAL LAYOUT */
body {
  margin: 0;
}

header, main {
  padding: 0 1rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#root main {
  flex: 1;
  position: relative;
}

footer {
  text-align: center;
}

/* HEADER */
header {
  border-bottom: 2px solid var(--rd_white);
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
}

.desktop-nav h1 {
  margin: 0;
  padding: .6rem 0;
}

.desktop-nav h1 a {
  padding: .6rem 0;
}

.desktop-nav div {
  display: none;
}

.desktop-nav button {
  background-color: transparent;
  border: none;
  height: 3rem;
  margin: auto 0;
}

.desktop-nav button img {
  margin: auto;
}

.mobile-nav {
  margin: 0 calc(50% - 50vw);
  height: 0;
  overflow: hidden;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav ul li {
  border-top: 2px solid var(--rd_white);
}

.mobile-nav div {
  border-top: 2px solid var(--rd_white);
  padding: .4rem 1rem;
}

.mobile-nav ul li {
  padding: 0 1rem;
}

.mobile-nav ul li:hover {
  background-color: var(--rd_lightblack);
}

.mobile-nav ul li a {
  padding: .2rem 0;
  display: block;
}

/* FOOTER */
footer p {
  margin: .4rem;
}

/* SEARCHBAR */
.search-input {
  background-color: var(--rd_black);
  border: 2px solid var(--rd_white);
  border-radius: 4px;
  color: var(--rd_white);
  padding: .4rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.search-submit {
  background-color: var(--rd_white);
  padding: .4rem 1rem;
  border-radius: 4px;
  border: none;
}

.mobile-nav div form {
  text-align: end;
}

.mobile-nav div form .search-input {
  margin-bottom: .4rem;
}

.main-card form {
  text-align: end;
}

.main-card form .search-input {
  margin-bottom: .4rem;
}

/* CONTENT CARDS */
.content-card {
  background-color: var(--rd_lightblack);
  border-radius: 5px;
  margin: 1rem 0 0;
  padding: .8rem;
}

.content-card h2 {
  position: relative;
  margin: 0;
}

.content-card h2::after {
  background-color: var(--rd_white);
  content: "";
  position: absolute;
  bottom: -.4rem;
  height: .15rem;
  left: -.4rem;
  right: -.4rem;
}

.main-card {
  margin-top: 10rem;
}

/* WORD HEADER */
.word-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: .4rem 0;
  border-bottom: 2px solid var(--rd_white);
}

.word-header h2 {
  margin: 0;
}

.word-header button {
  background-color: transparent;
  border: none;
}

.word-header button img {
  margin: auto;
  height: 2rem;
  width: 2rem;
}

.word-header button .unhovered {
  padding-right: 2.63px;
}